<div class="input-field">
  <p-floatlabel>
    <input
      pInputText
      id="title_input"
      type="text"
      [(ngModel)]="title"
      autocomplete="off"
    />
    <label for="title_input">Title</label>
  </p-floatlabel>

  <p-floatlabel>
    <textarea
      pTextarea
      id="description_input"
      [(ngModel)]="description"
      rows="5"
      style="resize: none"
    ></textarea>
    <label for="description_input">Description</label>
  </p-floatlabel>

  <p-button
    icon="pi pi-check-circle"
    label="Add Todo"
    [raised]="true"
    (onClick)="addTodo()"
  />
</div>
